<div id="{{ __SELF__.property('id') }}"
     style="width: {{ __SELF__.property('width') }}; height: {{ __SELF__.property('height') }};"></div>
<script>
    function initMap() {
        var latLng = {lat: {{ __SELF__.property('latitude') }}, lng: {{ __SELF__.property('longitude') }}};

        var map = new google.maps.Map(document.getElementById('{{ __SELF__.property('id') }}'), {
            center: latLng,
            zoom: {{ __SELF__.property('zoom') }},
            {% if (__SELF__.style) %}
            styles: {{ __SELF__.style|raw }}
            {% endif %}
        });

        {% if (__SELF__.property('showMarker')) and (__SELF__.property('icon')) %}
        new google.maps.Marker({
            position: latLng,
            map: map,
            icon: '{{ __SELF__.property('icon') }}'
        });
        {% endif %}
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ __SELF__.apiKey }}&callback=initMap"
        async defer></script>
